--extra-index-url https://download.pytorch.org/whl/lts/1.8/cu111
torch==1.8.2+cu111
--extra-index-url https://download.pytorch.org/whl/lts/1.8/cu111
torchvision==0.9.2+cu111
--extra-index-url https://download.pytorch.org/whl/lts/1.8/cu111
torchaudio==0.8.2
torchsummary
tensorboard==2.8.0
albumentations==0.4.6
Pillow==9.1.1
pyyaml
numpy==1.21.6
tqdm
scikit-learn
pandas
matplotlib
timm>=0.4.12
omegaconf>=2.0
pycocotools>=2.0.2
effdet
ensemble-boxes
