--extra-index-url https://download.pytorch.org/whl/cu117
torch
--extra-index-url https://download.pytorch.org/whl/cu117
torchvision 
--extra-index-url https://download.pytorch.org/whl/cu117
torchaudio 
torchsummary
tensorboard==2.8.0
albumentations==0.4.6
Pillow==9.1.1
pyyaml
numpy==1.21.6
tqdm
numpy
scikit-learn
pandas
matplotlib
timm>=0.4.12
omegaconf>=2.0
pycocotools>=2.0.2
effdet
ensemble-boxes
